
.row2{
  padding-top: 175px;
  padding-bottom: 175px;
padding-left: 300px;
background-color: #5584AC;

}

h2{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  line-height: 1.5;
}
/* Navigation  Bar */
.navigation{
  background-color: #5584AC;
}
.navbar{
  padding-bottom: 1.5rem;
  font-size: 20px;
  margin-left: auto;
}
.navbar-brand{
  color: white;
  font-family: "Montserrat";
  font-size: 40px;
}
.nav-item{
  padding: 0 18px;
}
.dropdown-btn{
  padding-top: 0px;
  padding-left: 0px;
}
#title{
  background-color: #5584AC;
  color:black;
}
.container-fluid{
  padding: 3% 10%;
}
/* Testimonials */
#testimonials{

  text-align: center;
  background-color:#EAEAEA;
  color: black;
}
/* testimonial-image */
.testimonial-image{
  width: 40%;
  border-radius: 20%;
}
.carousel-item{
  padding: 50px 80px;
}
#blogs{
  padding: 100px 80px;
  text-align: center;
}

.textlimit{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
